extends ../generic/layout
  
block scripts
  script(src='/javascripts/admin-card-listeners.js')

include ./adminMixins.pug

block content
  .detailContainer
    h1= cardData.name
    input.button#editCard(type='button' value='Edit')
  .detailContainer
    .cardDetailImage
      +displayCard(cardData, false)
      a.detailOption#hideImage Hide Image
      a.detailOption#hideEmpty Hide Empty
    +detailList(cardData, cardDataKeys, editDisable, fixData)
