
#fixEditBox.hidden
    h3 Fix Editor
    form#fixesEditor.panelContainer(action='set' method='post')
        a#cardName
        .infoLine
            span.panelOption
                label.selectLabel(for='model') Model: 
                select.editorSelect#model(name='model' disabled=true)
                    option#onlyModel(value='Card') Card
            span.panelOption
                label.selectLabel(for='uuid') UUID: 
                input.editorSelect#uuid(name='uuid' value='')
            span.panelOption
                label.selectLabel(for='key') Setting: 
                select.editorSelect#key(name='key' disabled=true)
                    option(value='') Enter UUID
        .infoLine    
            span.panelOption
                label.selectLabel Current Value: 
                span.editorSelect#current Choose setting
            span.panelOption
                label.selectLabel Original Value: 
                span.editorSelect#original Choose setting
        .panelOption
            label.selectLabel(for='value') Fixed Value: 
            input.editorSelect#value(name='value' value='')
        .panelOption
            label.selectLabel(for='note') Note: 
            input.editorSelect#note(name='note' value='')
        .panelButtons
            input.button#fixSave(type='button' value='Save')
            input.button#fixCancel(type='button' value='Cancel')
#fixEditBgd.hidden