extends ../generic/layout
  
block scripts
    script(src='/javascripts/admin-panel-listeners.js')
    if user.isSuper
        script(src='/javascripts/admin-su-panel-listeners.js')

include ./includes/adminMixins.pug

block content
    #dbLoading.loading(class=(busy ? '' : 'hidden'))

    #titleContainer
        h1#panelTitle Admin Panel
        each panel in ['drafts','sets','database','user']
            input.button.pressed.panelHider(type='button' id=panel+'Hider' value=varName(panel))

    #userHeader
        span.infoLabel User:
        span.infoValue#headerUsername= user.current
        a.button.headerLink#refreshLink(href='.') refresh
        a.button.headerLink#logoutLink(href='logout') logout
        a.button.headerLink(href='../../' target='_blank') New Draft

    hr#headerDivider

    #panelWrapper
        include ./includes/draftsPanel.pug
        include ./includes/setsPanel.pug
        include ./includes/databasePanel.pug
        include ./includes/userPanel.pug
                