# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql:// [cockroachDB URL] ?sslmode=verify-full&pool_timeout=500&options=--cluster%3D [cluster-name]"

# DB LIMITS
# Maximum number of threads to open when ingesting a JSON
JSON_THREAD_LIMIT=1000
# Maximum number of items to insert into the DB at once 
DB_BATCH_LIMIT=5000
# Maximum number of upserts to perform (Divided by number of Card fields, ~2000)
DB_UPSERT_LIMIT=32000

# WATCHER PASSWORD SALT -- Must be hex digits, should be random and at least 32 digits
WATCH_SALT=0123456789abcdef
### WARNING! Changing this will deauthorize all Watcher passwords.