extends layout

block header 
  link(rel='stylesheet' href='/stylesheets/base.css')

block content
  header(style='margin-block-end: 1em; display: inline-block;')
    h1(style='margin-block-end: 0.2em;') Random MTG Generators
    div.evenSpacedH#colorPips
      i(class="ms ms-cost ms-shadow ms-w")
      i(class="ms ms-cost ms-shadow ms-u")
      i(class="ms ms-cost ms-shadow ms-b")
      i(class="ms ms-cost ms-shadow ms-r")
      i(class="ms ms-cost ms-shadow ms-g")
  
  form(action="/", method="post")
    label(for="setPicker") Choose a Set: 
    select(id="setPicker", type="text", name="setCode")
      each set in sets
        option(value=set.code)=set.name
    input(type="submit", name="getType", value="Booster")
    input(type="submit", name="getType", value="Card")
  p #{text}

