@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-scale-xl { @apply text-lg   sm:text-xl   print:text-lg;   }
  .text-scale-lg { @apply text-base sm:text-lg   print:text-base; }
  .text-scale-md { @apply text-sm   sm:text-base print:text-sm;   }
  .text-scale-sm { @apply text-xs   sm:text-sm   print:text-xs;   }
  .text-scale-xs { @apply text-2xs  sm:text-xs   print:text-2xs;  }

  html, body, #__next { @apply h-full w-full; }
  body {
    @apply relative  leading-none  font-sans;
    @apply text-scale-md  print:text-xs;
  }
  
  h1 { @apply font-medium  text-4xl  sm:text-5xl  print:text-4xl; }
  h2 { @apply font-bold    text-2xl  sm:text-3xl  print:text-2xl; }
  h3 { @apply font-medium  text-base sm:text-lg   print:text-base; }
  h4 { @apply font-bold    text-xs   sm:text-base print:text-xs; }

  .btn { @apply font-sans; }

  /* Add Tab variants to daisyUI */
  .tabs-boxed .tab.tab-secondary { --p: var(--s); --pc: var(--sc); }
  .tabs-boxed .tab.tab-accent    { --p: var(--a); --pc: var(--ac); }
  
  /* Fix focus styling on ghost buttons (Modal X button) */
  .btn.btn-ghost:focus-visible { @apply outline-none bg-gray-500/40; }

  /* Fix combining tooltip w/ btn */
  .tooltip.btn { @apply before:normal-case before:font-normal before:content-[attr(data-tip)]; }
}

@layer components {
  .text-shadow { text-shadow: 0.03em 0.03em 0.05em rgba(0,0,0,0.231); }
  .icon-shadow { text-shadow: 0.03em 0.03em 0.01em rgba(0,0,0,0.439); }
}

@layer utilities {
  /* Style scrollbars */
  *::-webkit-scrollbar { @apply w-1 h-1; }
  *::-webkit-scrollbar-track { @apply my-1 bg-transparent; }
  *::-webkit-scrollbar-thumb { @apply rounded-full bg-base-content/80 hover:bg-base-content; }
  .scrollbar-primary::-webkit-scrollbar-thumb   { @apply bg-primary-focus   hover:bg-primary;   }
  .scrollbar-secondary::-webkit-scrollbar-thumb { @apply bg-secondary-focus hover:bg-secondary; }
  .scrollbar-accent::-webkit-scrollbar-thumb    { @apply bg-accent-focus    hover:bg-accent;    }

  /* Add 3d card flip effect (w/ reduced & non-reduced motion options) */
  .flip-container {
    @apply [perspective:62rem] motion-reduce:[perspective:none];
  }
  .flip-container > .flip-inner {
    @apply relative transition-transform duration-500 [transform-style:preserve-3d];
    @apply motion-reduce:transition-none motion-reduce:[transform-style:flat] will-change-transform;
  }
  .flip-container > .flip-inner > .flip-front,
  .flip-container > .flip-inner > .flip-back {
    @apply absolute w-full h-full [transform:rotateX(0deg)] [backface-visibility:hidden];
    @apply motion-reduce:transition-opacity motion-reduce:duration-700 motion-reduce:[backface-visibility:unset];
  }
  .flip-container > .flip-inner.flipped,
  .flip-container > .flip-inner > .flip-back {
    @apply [transform:rotateY(180deg)] motion-reduce:[transform:rotateY(0deg)];
  }
  .flip-container > .flip-inner.flipped > .flip-front,
  .flip-container > .flip-inner:not(.flipped) > .flip-back {
    @apply motion-reduce:opacity-0;
  }
}