
//- Drafts box in Admin Panel
form#draftsContainer.panelContainer(action='session' method='post')
    label.containerTitle(for='sessionId') Drafts
    select.panelSelect#sessionBox(name='sessionId' multiple=true)
        include ./draftsList.pug
        
    .panelButtons
        input.button#sessionDetails(type='submit' value='Details' disabled='true')
        input.button#sessionDelete(type='button' value='Delete' disabled='true')
        input.button#sessionDisconnect(type='button' value='Disconnect' disabled='true')
    .panelButtons#clearContainer
        input.button#sessionClear(type='button' value='Clear')
        label.clearText(for='clearSessions') drafts older than
        input.smallInputBox#clearDays(type='number' name='clearDays' min=0 value=7)
        label.clearText(for='clearDays') days. 
