@require 'colorScheme'
@require 'svgColor'

transitionDur = 0.2s


// --- Site-wide styles --- //

// Generic styles

.evenSpacedH 
  display: flex
  justify-content: space-evenly

.hidden
  display: none !important
  
.svgColorize
  svgColorize(bodyBgd)

// Text styles
body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: bodyBgd
  color: bodyText
  font-family: sans-serif
  position: relative
  margin: 0
  padding: 8px // Chrome default?
  
h1
  display: block
  margin: 0
  font-size: 2.5rem
  font-weight: bolder
  text-shadow: 0.2rem 0.2rem 0.2rem #0000009F
  opacity: 85%

h2
  display: block
  font-size: 2rem
  font-style: oblique
  font-weight: lighter
  text-shadow: 0.1rem 0.1rem 0.2rem #0000009F
  opacity: 80%

h3
  display: block
  font-size: 1.5rem
  font-weight: normal
  text-shadow: 0.12rem 0.12rem 0.1rem #0000009F
  opacity: 85%

h4
  display: block
  font-size: 0.9rem
  margin: 0
  padding: 0.3em
  font-weight: bold

.footerText
  font-size: 0.6rem
  font-style: italic
  font-weight: lighter
  text-align: center



// Generic element styles

hr
  margin: 2rem 2%
  border: solid 0.05rem hrColor

#footerDivider
  border-color: invisible

a
  color: buttonDown

  &:hover
    color:  buttonBgd
    text-decoration: underline
    cursor: pointer






/* --- Button --- */

buttonActive()
  background-color: buttonDown
  box-shadow: 0.08rem 0.08rem 0.1rem #111
  transform: translateY(0.06rem)

.button
  color: buttonText
  border-radius: 0.4rem
  background-color: buttonBgd
  outline: none
  border: solid 0.25rem #00000000
  box-shadow: 0.2rem 0.2rem 0.3rem #111
  transition-duration: transitionDur

  &:enabled
    &:hover
      background-color: buttonHover
      cursor: pointer

    &:active
      buttonActive()
      
    &:focus
      border-color: focusOutline
  
  &:disabled
    color: buttonTextDisabled
    cursor: not-allowed
    background-color: buttonDisabled




/* --- Scrollbar --- */

thinSize = 7px
thinScrollbar()
  // FireFox
  scrollbar-width: thin

  // Chrome, Edge, and Safari
  &::-webkit-scrollbar
    width: thinSize
    height: thinSize
    overflow: visible

scrollbarColor(thumb = scrollbarThumb, bgd = invisible)
  // thumb ?= scrollbarColor
  // bgd ?= alpha(bodyBgd, 0)

  // FireFox
  scrollbar-color: thumb bgd

  // Chrome, Edge, and Safari
  &::-webkit-scrollbar-track
    background: bgd
    
  &::-webkit-scrollbar-thumb
    //background-color: thumb
    border: solid thinSize thumb
    border-radius: 4px

*
  scrollbarColor()

.noScroll
  overflow: hidden