@require 'mana'

/* ----- Card options ----- */

card-w = 16.5rem   // = 265px @ medium
card-h = 23.125rem // = 370px @ medium
card-border-curve = 5%
hideImages = false

if hideImages
    img.cardImage
      visibility: hidden !important


/* ----- Card layout ----- */

.cardContainer 
  width: card-w
  height: card-h
  margin: (card-h / 37) (card-w / 35)
  position: relative

button.cardContainer
  border-radius: card-border-curve
  background: invisible
  border: 0
  outline: 0

.genLayout
  display: grid
  grid-template-rows: 10% 25% 9% 50% 6%
  grid-template-columns: 77% 23%
  grid-template-areas: 'header header' 'art art' 'type type' 'txt txt' 'footL footR'
  place-items: stretch

.genHeader
  grid-area: header
.genArtBox
  grid-area: art
.genTypeBox
  grid-area: type
.genTextBox
  grid-area: txt
.genFooterDfc
  grid-area: footL
.genFooterNums 
  grid-area: footR

.card, .genCard, .cardImage,
.cardBgd, .cardBgdFoil 
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0

.cardBgd, .cardBgdFoil 
  overflow: hidden
  border-radius: card-border-curve
  background-color: lightgray


/* Card border */

.genCard 
  display: flex
  background: black
  border-radius: (card-border-curve * 4 / 5)
  color: black

.genLayout
  width: 92%
  height: 94%
  margin: auto
  padding: 2%
  border-radius: (card-border-curve * 3 / 5)


/* Card element spacing */

.genHeader 
  margin: 2%
  padding: 1% 2%

.genArtBox
  margin: 0 4%
  background: darkgray

.genTypeBox 
  margin: 2%
  padding: 1% 2%

.genTextBox
  margin: 1%
  padding: 1% 2%

.genFooterNums
  margin-top: 4%
  margin-right: 15%

.genFooterDfc
  display: flex
  align-items: center
  font-size: 1.6rem
  margin-top: 3%



/* Text wrapping/position */

.genHeader, .genTypeBox
  display: flex
  justify-content: space-between
  align-content: center

.genArtBox, .genFooterNums 
  display: flex
  justify-content: center
  align-items: center

.genTextBox
  display: flex
  overflow: visible auto

.genName, .genType,
.genMana, .genRarity,
.genTextContainer
  margin: auto 0


/* Card text formatting */

.genLayout
  font-family: serif

.genType 
  font-size: 0.7rem
  font-weight: bold

.genRarity 
  font-size: 0.6rem

.genName 
  font-size: 0.9rem
  font-weight: bold

.genMana 
  font-size: 0.78rem
  white-space: nowrap

.genFooterNums
  font-size: 0.93rem
  letter-spacing: 0.03em

.genTextBox
  font-size: 0.75rem
  text-align: left

/* main text paragraph spacing */
p.genText
  margin-top: 0
  margin-bottom: 0.4em
  line-height: 1.15em

/* 'foil' text in genCard */
.genArtBox
  color: #ffffffa0
  font-family: sans-serif
  font-size: 1.8rem

/* fix for mana stylesheet */
.ms-cost
  font-size: 0.8em
  
.ms-shadow
  margin: auto 0.07em



/* ----- Card Effects ----- */


/* Multi-faced cards (Only works for 2-faced card) */

.side-a:hover 
  opacity: 0


/* Foil effect */

.foil.card 
  opacity: 0.9
  mix-blend-mode: multiply

.cardBgdFoil 
  background: rgb(219, 255, 247)
  background: linear-gradient(45deg, rgba(192,255,240,1) 20%, rgba(176,192,240,1) 36%, rgba(255,208,208,1) 52%, rgba(255,255,192,1) 67%, rgba(255,175,175,1) 80%)
  // filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr="#c0fff0",endColorstr="#ffafaf",GradientType=1)")


/* Text box shading */

.genHeader, .genTypeBox, .genFooterNums
  background: #ffffff70
  border-radius: 0.3rem
  box-shadow: 0 0 0.15rem 0 #00000063

.genTextBox
  background: #fffffff0
  box-shadow: inset 0.2rem 0.2rem 1rem -0.2rem #00000063

.genText, .genType, .genFooterNums
  text-shadow: 0.03em 0.03em 0.05em #0000003b

.genRarity
  text-shadow: 0.03em 0.03em 0.1em #00000070
  opacity: 0.85


/* Rarity colors */
.mythic   { color: brown; }
.rare     { color: gold; }
.uncommon { color: lightgray; }
.common   { color: black; }

/* Card BGD colors */
.bgdNone  { background: #AFADA2; }
.bgdW     { background: #E2DDC6; }
.bgdU     { background: #26A0CD; }
.bgdB     { background: #354541; }
.bgdR     { background: #D66049; }
.bgdG     { background: #3D7753; }
.bgdMulti { background: #C3B070; }
.bgdLand  { background: #B19277; }
