//* --- Site-wide colors --- *//
bodyBgd = #1E2727
bodyText = antiquewhite
altBgd = #43250F
buttonBgd = #87CDE8
buttonHover = #75B7D1
buttonDown = #BFE0EE
buttonDisabled = #E5E5E5
focusOutline = #434F75 // #F1E5EF
hrColor = #434F75

// Related colors
buttonText = bodyBgd
buttonTextDisabled = alpha(buttonText, 75%)
scrollbarThumb = alpha(bodyText, 50%)
invisible = alpha(bodyBgd, 0)