@require 'base'
@require 'mana'

#setupHeader
    margin: 1rem

#setupForm 
    display: flex
    flex-direction: column
    align-items: center

#setupTitle
    font-size: 2rem
    margin: 1rem
    padding: 0.4em 0.8em

#colorPipsFoot
#colorPipsHead
    padding: 1rem
    font-size: 1.3rem

#colorPipsFoot
    width: 100%

#draftTypeContainer
    display: flex
    justify-content: center
    padding: 1rem

#cubeType
#boosterType
    font-size: 1rem
    border-radius: 0

#draftName
    margin-bottom: 2rem
    font-size: 1.3rem
    text-align: center

#allSettings
    font-size: 1rem
    display: flex
    flex-direction: column
    align-items: center

.settingsForm
    margin-top: 1rem
    padding: 0.5rem

#boosterForm
    display: flex
    flex-direction: column
    align-items: center

#cubeForm
    display: grid
    grid-template-areas: "cubeOptions cubeFile"
    column-gap: 0.5rem
    row-gap: 0.5rem

#cubeOptionsForm
    grid-area: cubeOptions
    display: flex
    flex-direction: column
    height: 100%
    justify-content: flex-start
    align-items: flex-end
    & > div
        padding: 0.5em 0;

#cubeFileForm
    display: flex
    flex-direction: column
    align-items: center

#cubeFileBox
    grid-area: cubeFile
    background: altBgd
    margin: 0.5rem

    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center

    padding: 1rem
    width: 21rem
    height: 12rem
    position: relative
    overflow: hidden

    &.dragHighlight
        outline: solid 0.1rem focusOutline
        background: alpha(altBgd, 75%)

// .dragHighlight #dragDropText.hidden
//     display: inherit
// .dragHighlight #uploadResultContainer
// //& #loading
//     opacity: 0.01


#cubeFileContent
    width: 100%
    height: 100%
    margin: 0.5em
    overflow: auto
    display: flex

#uploadResultContainer
    width: 100%
    font-family: monospace
    white-space: break-spaces

#uploadResultHeader
    display: block
    color: bodyText
    font-weight: bold
    font-size: 1rem
    padding-bottom: 0.3em

#uploadResultBody
    color: buttonDisabled
    font-size: 0.8rem

#dragDropText
    font-size: 1.5rem
    font-weight: lighter
    opacity: 0.7
    margin: auto

#cubeFilePicker
    align-self: flex-start
    padding-bottom: 0.4em;

#addBooster
#removeBooster
    margin: 0.3rem
    height: 2em
    width: 2em

.settingsLabel
    margin: 0.3rem

.settingsPicker
    margin: 0.3rem
    padding: 0.3rem

.settingsButton
    padding: .5% 5%

.button.pressed
    buttonActive()
    z-index: -1

// Outline on active
.settingsPicker:focus
.settingsPicker:active
    outline-color: focusOutline



